<div class="col s12 m12 l8 xl8">
  <div class="section col s12 card-panel grey lighten-4">
    <h5>Pay Bills</h5>
    <div class="divider col s12"></div>
    <div class="input-field col s12 m12 l12 xl6">
      Merchant services
      <select material-select watch ng-model="selectedService">
        <option value="" disabled selected>Choose merchant service</option>
        <option ng-repeat="service in merchant_services"
          value={{service.serviceid}}>{{service.servicename}}
        </option>
      </select>
    </div>
    <div class="input-field col s12 m12 l12 xl6">
      Paying account
      <select material-select watch ng-model="selectedAccount">
        <option value="" disabled selected>Choose your account</option>
        <option ng-repeat="accounts in user_accounts"
          value={{accounts.accountid}}>{{accounts.accountid}}
        </option>
      </select>
    </div>
    <div class="input-field col s12">
      <input id="bill_reference_number" type="text" length="60" ng-model="bill_reference_number"></input>
      <label for="bill_reference_number">
        Bill Reference Number
      </label>
    </div>
    <div class="input-field col s12">
      <input id="amount" type="text" length="60" ng-model="amount"></input>
      <label for="amount">
        Amount
      </label>
    </div>
    <div class="col s12 center" style="margin-top:50px;margin-bottom:30px;">
      <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="paybill()">
      Pay Biil
      <i class="material-icons right"></i>
      </button>
    </div>
  </div>
</div>