<div id="AddBankAccountForm" class="col s12 m12 l8 xl8">
  <div class="col l3 xl3 hide-on-med-and-down"></div>
  <div class="col s12 m12 l6 xl6">
    <div class="col s12 card-panel grey lighten-4">
      <h5>{{labels.AddBankAccount}}</h5>
      <div class="divider col s12"></div>
      <div class="col s12 m12 l12 xl12">
        <div class="col s12 nny-margin-add"><h7>{{labels.Branch}}<h7></div>
        <div class="input-field col s12 nny-margin-fix">
          <select material-select watch  ng-change="setBranch()" ng-model="AddBankAccountForm.branch">
            <option value="" disabled selected><i>- Select -</i></option>
            <option ng-repeat="branch in Branch" value={{branch.branch_id}}>{{branch.branch_name}}</option>
          </select>
        </div>
      </div>
      <div class="col s12 m12 l12 xl12">
        <div class="col s12">{{labels.AccountType}}</div>
        <div class="input-field col s12 nny-margin-fix">
          <select material-select watch  ng-change="setAccType()" ng-model="AddBankAccountForm.account_type">
            <option value="" disabled selected><i>- Select -</i></option>
            <option ng-repeat="type in AccountType" value={{type.acc_type_id}}>{{type.acc_name}}</option>
          </select>
        </div>
      </div>
      <div class="col s12 m12 l12 xl12">
        <div class="col s12">{{labels.Currency}}</div>
        <div class="input-field col s12 nny-margin-fix">
          <select material-select watch  ng-change="setCurrency()" ng-model="AddBankAccountForm.currency">
            <option value="" disabled selected><i>- Select -</i></option>
            <option ng-repeat="currency in currencies" value={{currency}}>{{currency}}</option>
          </select>
        </div>
      </div>
      <div class="col s12 center">
        <div class="col s12 m6">
          <button class="btn waves-effect waves-light" ng-click="submitBtn()">{{labels.Submit}}</button>
        </div>
        <div class="col s12 hide-on-med-and-up" style="margin-top:10px"></div>
        <div class="col s12 m6">
          <button class="btn waves-effect waves-light"ui-sref="account">{{labels.Back}}</button>
        </div>
      </div>
      <div class="col s12" style="margin-bottom:20px;"></div>
    </div>
  </div
  <div class="col l3 xl3 hide-on-med-and-down"></div>
</div>
</div>
<div class="col s12" style="margin-bottom:30px;"></div>
