<div class="col s12 m12 l8 xl8">
  <div class="section col s12 card-panel grey lighten-4">
    <h5>{{labels.BankAccountInformation}}</h5>
    <div class="divider col s12"></div>
    <div class="input-field col s12 m12 l12 xl6">
      {{labels.accountid}}
      <select material-select watch  ng-change="setAccountDetails()" ng-model="selectedAccount">
        <option value="" disabled selected>Choose your Account</option>
        <option ng-repeat="account in user_accounts" value={{account.accountid}}>{{account.accountid}}</option>
      </select>
      <div class="col s12">
        <div class="col s12">
          <p><b>{{labels.Branch}} : </b> {{selectedAccountDetails.branchId.branchName}}</p>
        </div>

        <div class="col s12">
          <p><b>{{labels.AccountType}} : </b> {{selectedAccountDetails.accTypeId.accName}}</p>
        </div>

        <div class="col s12">
          <p>
            <b>{{labels.InterestRate}} : 
            </b> {{selectedAccountDetails.accTypeId.accInterestRatesaccName}}
          </p>
        </div>

        <div class="col s12">
          <p><b>{{labels.Balance}} : </b> {{selectedAccountDetails.balanceaccName}}</p>
        </div>

        <div class="col s12">
          <p><b>{{labels.AccountOpenDate}} : </b> {{selectedAccountDetails.createdDate}}</p>
        </div>
      </div>
    </div>
      <div class="col s12 center" style="margin-top:50px;margin-bottom:30px;">
        <div class="col s12 m6">
          <button class="btn waves-effect waves-light" ui-sref="activity({transactionId: selectedAccountDetails.accountid})">{{labels.ViewActivity}}</button>
        </div>
        <div class="col s12 m6">
          <button class="btn waves-effect waves-light" 
          ui-sref="addbankaccount">{{labels.AddBankAccount}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12" style="margin-bottom:30px;"></div>
