<div id="AddBankAccountForm" class="col s12 m12 l8 xl8">
  <div class="col s12 m12 l12 xl12">
    <div class="col s12 card-panel grey lighten-4">
      <h5>{{labels.AddMerchantAccount}}</h5>
      <div class="divider col s12"></div>
      <div  class="input-field col s12 m12 l12 xl12">
        <input id="org_name" type="text" length="150" ng-model="AddMerchantAccountForm.org_name">
        <label for="org_name">{{labels.OrgName}}</label>
      </div>
      <div class="input-field col s12 m6 l6 xl6">
        <input id="reg_no" type="text" length="150" ng-model="AddMerchantAccountForm.reg_no">
        <label for="reg_no">{{labels.RegNo}}</label>
      </div>
      <div class="input-field col s12 m6 l6 xl6">
        <input id="tax_no" type="text" length="150" ng-model="AddMerchantAccountForm.tax_no">
        <label for="tax_no">{{labels.TaxNo}}</label>
      </div>
      <div  class="input-field col s12 m12 l12 xl12">
        <input id="service_name" type="text" length="150" ng-model="AddMerchantAccountForm.service_name">
        <label for="service_name">{{labels.ServiceName}}</label>
      </div>
      <div  class="input-field col s12 m12 l12 xl12">
        <input id="desc" type="text" length="150" ng-model="AddMerchantAccountForm.desc">
        <label for="desc">{{labels.Description}}</label>
      </div>
      <div class="col s12 center">
        <div class="col m3 hide-on-small-only"></div>
        <div class="col s12 m3">
          <button class="btn waves-effect waves-light" ng-click="submitBtn()">{{labels.SubmitForVerification}}</button>
        </div>
        <div class="col s12 m3">
          <button class="btn waves-effect waves-light"ui-sref="account">{{labels.Back}}</button>
        </div>
        <div class="col m3 hide-on-small-only"></div>
      </div>
      <div class="col s12" style="margin-bottom:20px;"></div>
    </div>
  </div>
</div>
<div class="col s12" style="margin-bottom:30px;"></div>
