<div id="AddBankAccountForm" class="col s12 m12 l8 xl8">
  <div class="col s12 m12 l12 xl12">
    <div class="col s12 card-panel grey lighten-4">
      <div class="section col s12">
        <h5>{{labels.ProfileCredentials}}</h5>
        <div class="divider col s12"></div>
        <div class="col s12">
        <div class="input-field col s12 m12 16 xl6" style="padding-left:0px">
            <input id="username" name="username" type="text" length="25" ng-model="AddMerchantAccountForm.username">
            <label for="username">{{labels.Username}}</label>
        </div>
        </div>
        <div class="input-field col s12 m12 16 xl6">
          <input id="password" name="password" type="password" length="60" ng-model="AddMerchantAccountForm.password" />
          <label for="password">{{labels.Password}}</label>
        </div>
        <div   class="input-field col s12 m12 16 xl6">
          <input id="confirm_password" type="password" length="60" ng-model="AddMerchantAccountForm.confirmPassword">
          <label for="confirm_password">{{labels.ConfirmPassword}}</label>
        </div>
      </div>
      <div class="section col s12">
      <h5>{{labels.AddMerchantAccount}}</h5>
      <div class="divider col s12"></div>
      <div  class="input-field col s12 m12 l12 xl12">
        <input id="org_name" type="text" length="150" ng-model="AddMerchantAccountForm.org_name">
        <label for="org_name">{{labels.OrgName}}</label>
      </div>
      <div class="input-field col s12 m6 l6 xl6">
        <input id="reg_no" type="text" length="150" ng-model="AddMerchantAccountForm.reg_no">
        <label for="reg_no">{{labels.RegNo}}</label>
      </div>
      <div class="input-field col s12 m6 l6 xl6">
        <input id="tax_no" type="text" length="150" ng-model="AddMerchantAccountForm.tax_no">
        <label for="tax_no">{{labels.TaxNo}}</label>
      </div>
      <div  class="input-field col s12 m12 l12 xl12">
        <input id="service_name" type="text" length="150" ng-model="AddMerchantAccountForm.service_name">
        <label for="service_name">{{labels.ServiceName}}</label>
      </div>
      <div  class="input-field col s12 m12 l12 xl12">
        <input id="desc" type="text" length="150" ng-model="AddMerchantAccountForm.desc">
        <label for="desc">{{labels.Description}}</label>
      </div>
    </div>
    <div class="section col s12">
      <h5>{{labels.SecurityQuestions}}</h5>
      <div class="divider col s12"></div>
      <div class="col s12 m12 l12 xl12">
        <div class="col s12 nny-margin-add">{{labels.Question}} #1</div>
        <div class="input-field col s12 nny-margin-fix">
          <select material-select watch  ng-change="setQuestion()" ng-model="AddMerchantAccountForm.question1">
            <option value="" disabled selected><i>- Select -</i></option>
            <option ng-repeat="question in questions" value={{question.id}}>{{question.name}}</option>
          </select>
        </div>
        <div class="input-field col s12 nny-margin-fix">
          <input id="answer1" type="text" ng-model="AddMerchantAccountForm.answer1">
          <label for="answer1">{{labels.Answer}} #1</label>
        </div>
        <div class="divider col s12"></div>
      </div>

      <div class="col s12 m12 l12 xl12">
        <div class="col s12 nny-margin-add">{{labels.Question}} #2</div>
        <div class="input-field col s12 nny-margin-fix">
          <select material-select watch  ng-change="setQuestion()" ng-model="AddMerchantAccountForm.question2">
            <option value="" disabled selected><i>- Select -</i></option>
            <option ng-repeat="question in questions" value={{question.id}}>{{question.name}}</option>
          </select>
        </div>
        <div class="input-field col s12 nny-margin-fix">
          <input id="answer2" type="text" ng-model="AddMerchantAccountForm.answer2">
          <label for="answer2">{{labels.Answer}} #2</label>
        </div>
        <div class="divider col s12"></div>
      </div>
    </div>
    <div class="section col s12">
      <h5>{{labels.TermsAndConditions}}</h5>
      <div class="divider col s12"></div>
      <div class="col s12 center" style="margin-top:50px;">
        <input type="checkbox" class="filled-in" id="agree_terms" ng-model="AddMerchantAccountForm.agree_terms"/>
        <label for="agree_terms">{{labels.AgreeToTnC}}</label>
      </div>

      <div class="col s12 center" style="margin-top:50px;margin-bottom:30px;">
        <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="submitBtn()">{{labels.Submit}}
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

      <div class="col s12 center">
        <div class="col s12 center">
          <button class="btn waves-effect waves-light"ui-sref="chooseprofile">{{labels.Back}}</button>
        </div>
      </div>
      <div class="col s12" style="margin-bottom:20px;"></div>
    </div>
  </div>
</div>
<div class="col s12" style="margin-bottom:30px;"></div>
