<div class="col s12 m12 l8 xl8">
  <!--Admin Tools-->
  <div id="adminTool" class="section col s12 card-panel grey lighten-4">
    <h5>{{labels.Account}} - {{selectedAccountDetails.accountid}} </h5>
    <div class="divider col s12"></div>
    <div class="col s12 center hide-on-small-and-down">
      <a class="waves-effect waves-light btn">{{labels.UnOrLockAccount}}</a>
      <a class="waves-effect waves-light btn">{{labels.ViewActivity}}</a>
      <a class="waves-effect waves-light btn red" ui-sref="listaccounts">{{labels.Cancel}}</a>
    </div>
    <div class="col s12" style="margin-bottom:15px;"></div>
  </div>
  <!--Admin Tools End-->

  <!--Bank Account Information-->
  <div class="section col s12 card-panel grey lighten-4">
    <h5>{{labels.BankAccountInformation}}</h5>
    <div class="divider col s12"></div>
    <div class="col s12">
      <div class="col s12 m4 nny-rounded-flat-card3">
        <p><b>{{labels.AccountId}} : </b> {{selectedAccountDetails.accountid}}</p>
      </div>
      <div class="col s12 m4 nny-rounded-flat-card3">
        <p><b>{{labels.AccountType}} : </b> {{selectedAccountDetails.accTypeId.accName}}</p>
      </div>
      <div class="col s12 m4 nny-rounded-flat-card3">
        <p><b>{{labels.Branch}} : </b> {{selectedAccountDetails.branchId.branchName}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p><b>{{labels.Balance}} : </b> {{selectedAccountDetails.balance}} {{selectedAccountDetails.currency}} </p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p><b>{{labels.InterestRate}} :</b> {{selectedAccountDetails.accTypeId.accInterestRates}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p><b>{{labels.AccountOpenDate}} : </b> {{selectedAccountDetails.createdDate}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p><b>{{labels.AccountExpireDate}} : </b> {{selectedAccountDetails.expireDate}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p><b>{{labels.AccountStatus}} : </b> {{selectedAccountDetails.locked}}</p>
      </div>
    </div>
  </div>
  <!--Bank Account Information End-->

  <!--PersonalInformation -->
  <div  ng-switch on="mode" class="section col s12 card-panel grey lighten-4">
    <h5>{{labels.PersonalInformation}}</h5>
    <!--<a class="right waves-effect waves-light btn" ng-click="saveUserInfo()" ng-switch-when="edit">Save<a/>
    <a class="right waves-effect waves-light btn" ng-click="btnEdit()" ng-switch-when="read">Edit<a/>
    <div class="divider col s12"></div>-->
    <!--Read Only-->
    <div class="col s12" ng-switch-when="read">
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p class="nny-p0-1"><b>{{labels.Username}} : </b>{{PersonalInformation.userObj.username}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p class="nny-p0-1"><b>{{labels.Title}} : </b>{{PersonalInformation.title}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p class="nny-p0-1"><b>{{labels.FirstName}} : </b>{{PersonalInformation.firstName}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p class="nny-p0-1"><b>{{labels.LastName}} : </b>{{PersonalInformation.lastName}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p class="nny-p0-1"><b>{{labels.DateOfBirth}} : </b>{{PersonalInformation.dob}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p class="nny-p0-1"><b>{{labels.Gender}} : </b>{{PersonalInformation.gender}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p class="nny-p0-1"><b>{{labels.NationalIdentityCard}} : </b>{{PersonalInformation.nic}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p class="nny-p0-1"><b>{{labels.EmailAddress}} : </b>{{PersonalInformation.email}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p class="nny-p0-1"><b>{{labels.Contact1}} : </b>{{PersonalInformation.mobileNo}}</p>
      </div>
      <div class="col s12 m6 nny-rounded-flat-card3">
        <p class="nny-p0-1"><b>{{labels.Contact2}} : </b>{{PersonalInformation.telephoneNo}}</p>
      </div>
      <div class="col s12 m12 nny-rounded-flat-card3">
        <p class="nny-p0-1"><b>{{labels.Address}} : </b>{{PersonalInformation.wholeAddress}}</p>
      </div>
    </div>
    <!--Read Only End-->

    <!--Edit-->
    <div id="Edit-PersonalInformation" ng-switch-when="edit" class="col s12">
      <div input-field class="col s12 m12 16 xl6">
        <input id="first_name" type="text" length="150" ng-model="PersonalInformation.firstName">
        <label for="first_name">{{labels.FirstName}}</label>
      </div>
      <div input-field class="col s12 m12 16 xl6">
        <input id="last_name" type="text" length="150" ng-model="PersonalInformation.lastName">
        <label>{{labels.LastName}}</label>
      </div>
      <div class="col s12 m12 16 xl6" ng-controller="DatePickerController">
        <label for="dob">{{labels.DateOfBirth}}</label>
        <input input-date type="text" name="dob"  id="dob"  ng-model="PersonalInformation.dob" container="" format="dd/mm/yyyy"
        months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}"
        weekdays-letter="{{ weekdaysLetter }}" disable="disable"  min="{{ minDate }}" max="{{ maxDateToday }}" today="today" first-day="1"
        clear="clear" close="close" select-years="100" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()"
        on-set="onSet()" on-stop="onStop()" />
      </div>
      <div class="col s12 m12 16 xl6">
        <p class="col s12 center">
          {{labels.Gender}} :
          <input name="gender" type="radio" id="gender_male" ng-model="PersonalInformation.gender" value="Male" />
          <label for="gender_male">{{labels.Male}}</label>
          <input name="gender" type="radio" id="gender_female" ng-model="PersonalInformation.gender" value="Female" />
          <label for="gender_female" >{{labels.Female}}</label>
        </p>
      </div>
      <div input-field class="col s12">
        <input id="NIC" type="text" ng-model="PersonalInformation.nic">
        <label>{{labels.NationalIdentityCard}}</label>
      </div>
      <div input-field class="col s12">
        <input id="email_address" type="email" class="validate" ng-model="PersonalInformation.email">
        <label>{{labels.EmailAddress}}</label>
      </div>
      <div input-field class="col s6 m6 l6 xl6">
        <input id="contact1" type="text" class="validate" ng-model="PersonalInformation.mobileNo">
        <label>{{labels.Contact1}}</label>
      </div>
      <div input-field class="col s6 m6 l6 xl6">
        <input id="contact2" type="text" class="validate" ng-model="PersonalInformation.telephoneNo">
        <label>{{labels.Contact2}}</label>
      </div>
      <div input-field class="col s12">
        <input id="address" type="text" length="150" ng-model="PersonalInformation.addressLine1">
        <label for="addressL2">{{labels.Address}} {{labels.Line1}}</label>
      </div>
      <div   class="input-field col s12">
        <input id="addressL2" type="text" length="150" ng-model="PersonalInformation.addressLine2">
        <label for="addressL2">{{labels.Address}} {{labels.Line2}}</label>
      </div>
      <div   class="input-field col s12">
        <input id="addressL2" type="text" length="150" ng-model="PersonalInformation.addressLine3">
        <label for="addressL2">{{labels.Address}} {{labels.Line3}}</label>
      </div>
      <div class="input-field col s6 m6 l6 xl6">
        <input id="city" type="text" ng-model="PersonalInformation.city">
        <label for="city">{{labels.City}}</label>
      </div>
    </div>
    <!--Edit End-->

    <div class="col s12 m6 l6 xl6 center">
    </div>
  </div>
  <!--PersonalInformation end-->
</div>
<div class="col s12" style="margin-bottom:30px;"></div>
