<div id="settings" class="col s12 m12 l8 xl8">
  <div class="col s12 m12 l12 xl12">
    <div class="col s12 card-panel grey lighten-4">
      <h5>{{labels.ProfileSettings}}</h5>
      <div class="divider col s12"></div>
    </br>
    <div class="col s12">
      <h6>{{labels.Preferences}}</h6>
      <div class="divider col s12"></div>

    </br>
  </div>
  <div class="col s12">
    <h6>{{labels.ChangePassword}}</h6>
    <div class="divider col s12"></div>
    <div class="col s12">
      <div class="col m3 l3 hide-on-small"></div>
      <div class="input-field col s12 m6 l6">
        <input id="old_password" type="password"
        ng-model="UpdatePasswordForm.oldPassword"
        class="validate"/>
        <label for="old_password">{{labels.OldPassword}}</label>
      </div>
      <div class="col m3 l3 hide-on-small"></div>
    </div>
    <div class="col s12">
      <div class="col m3 l3 hide-on-small"></div>
      <div class="input-field col s12 m6 l6">
        <input id="new_password" type="password"
        ng-model="UpdatePasswordForm.newPassword"
        class="validate"/>
        <label for="new_password">{{labels.NewPassword}}</label>
      </div>
      <div class="col m3 l3 hide-on-small"></div>
    </div>
    <div class="col s12">
      <div class="col m3 l3 hide-on-small"></div>
      <div class="input-field col s12 m6 l6">
        <input id="confirm_new_password" type="password"
        ng-model="UpdatePasswordForm.confirmNewPassword"
        class="validate"/>
        <label for="confirm_new_password">{{labels.ConfirmPassword}}</label>
      </div>
      <div class="col m3 l3 hide-on-small"></div>
    </div>
    <center>
      <div class="col s12">
        <button class="btn waves-effect waves-light green draken-2" ng-click="savePasswordBtn()"
        name="action">{{labels.SavePassword}}
      </button>
    </div>
  </center>
</br>
</div>
<div class="col s12" style="margin-bottom:30px;"></div>
</div>
</div>
</div>
<div class="col s12" style="margin-bottom:30px;"></div>
